@font-face {
  font-family: 'BebasNeueRegular';
  src: url(/fonts/BebasNeue-Regular.otf) format('opentype');
}

:root {
  --page-width: 1000px;
  --banner-height: 200px;
  --primary: white;
  --secondary: orangered;
  --secondary-highlight: darkorange;
  --tertiary: darkmagenta;
  --tertiary-highlight: magenta;
  --shadow: 0px 5px 5px #00000033;
  --background-main: #eeeeee;
  --background-alternate: #222222;
  --card-radius: 8px;
  --card-width: 800px;
  --card-padding: 10px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-main);
}

.title {
  margin: 0px;
  color: var(--primary);
  font-size: calc(4vw + 4vh);
  text-shadow: var(--shadow);
  font-family: BebasNeueRegular, Helvetica, sans-serif;
  line-height: .8;
  letter-spacing: .05em;
}

.subtitle {
  margin: 0px;
  color: var(--primary);
  text-shadow: var(--shadow);
  font-size: 2.1em;
}

.splash-wrapper {
  box-sizing: border-box;
  width: 100%;
  background-image: url(/images/danny-lines-unsplash-purple-abstract.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -900px;
}

.splash {
  box-sizing: border-box;
  height: var(--banner-height);
  max-height: 100vh;
  width: 100%;
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

section {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.post-list {
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list-item {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  margin: 20px;
  display: block;
  max-width: var(--card-width);
  width: 100%;
  max-height: 240px;
  height: 100vh;
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
}

.post-title {
  box-sizing: border-box;
  padding: var(--card-padding);
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  background: linear-gradient(135deg, var(--secondary), var(--secondary-highlight));
  color: var(--primary);
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}

.post-body {
  box-sizing: border-box;
  padding: var(--card-padding);
}

button {
  font-size: 1em;
  padding: 8px 20px 8px 20px;
  background-color: var(--tertiary);
  border: none;
  color: white;
  border-radius: var(--card-radius);
}

button:hover {
  cursor: pointer;
  background-color: var(--tertiary-highlight);
}

.post-actions {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}